body {
	overflow-x: hidden;
}

nav {
	height: 9vw;
	margin: 0 !important;
	padding: 0 !important;
}

li {
	margin: 0 !important;
}

.nav-link:hover {
	color: #ff3f40 !important;
	transition: .5s linear;
}

.active:hover {
	color: white !important;
}

.nav-item {
	height: 100%;
}

.nav-link {
	margin-bottom: auto !important;
	margin-top: auto !important;
	padding: 1.9em !important;
	color: #e0e0e0;
	font-family: "Open Sans";
	font-size: 2vw;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.49px;
	transition: .5s linear;
}

.active {
	border-radius: 0 !important;
	height: 100%;
	background-color: #ff3f40 !important;
}

.nav-pills {
	height: 100%;
}

.content-1 {
	padding-top: 120px;
	padding-bottom: 10%;
	background-color: #f6f2f2;
}

.header_content-1 {
	color: #000000;
	font-family: "Open Sans";
	font-size: 5vw;
	font-weight: 900;
	line-height: 72px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	letter-spacing: 6px;
	margin-bottom: 1%;
}

.pharagraph-content-1 {
	opacity: 0.7;
	color: #000000;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 5%;
}

.btn-text-1 {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 700;
	line-height: 34.06px;
	letter-spacing: 0.32px;
}

.btn-danger {
	padding: 14px !important;
	width: 227px;
	height: 55px;
	border-radius: 5px;
	background-color: #ff2d2d !important;
	transition: .5s linear !important;
}

.content-2 {
	padding-top: 120px;
	padding-bottom: 10%;
}

.header_content-2 {
	opacity: 0.8;
	color: #000000;
	font-family: "Open Sans";
	font-size: 42px;
	font-weight: 700;
	line-height: 55px;
	text-transform: uppercase;
	letter-spacing: 0.42px;
	margin-bottom: 5%;
}

.pharagraph_content-2 {
	color: #000000;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 10%;
}

.btn-light {
	border: 2px solid #ff0000 !important;
	border-radius: 5px !important;
	width: 227px;
	height: 55px;
	padding: 8px !important;
	transition: .5s linear !important;
}

.btn-text-2 {
	color: #ff2d2d !important;
	font-family: "Open Sans" !important;
	font-size: 18px !important;
	font-weight: 700 !important;
	line-height: 34.06px !important;
	letter-spacing: 0.32px !important;
}

.img-col-1 {
	margin-bottom: 10%;
}

.header2 {
	opacity: 0.7;
	color: #000000;
	font-family: "Open Sans";
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.27px;
	margin-bottom: 5%;
}

.pharagraph {
	opacity: 0.7;
	color: #000000;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}

.img-col-2 {
	margin-bottom: 10%;
	margin-top: 10%;
}

.btn-light:hover {
	background-color: #ff2d2d !important;
}

.btn-text-2:hover {
	color: white !important;
}

.margin {
	margin-top: 108px;
}

.margin-1 {
	margin-top: 50px;
}

.header-2 {
	opacity: 0.8;
	color: #000000;
	font-family: "Open Sans";
	font-size: 42px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.38px;
}

.pharagraph-2 {
	opacity: 0.7;
	color: #000000;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}

.active-1 {
	color: #ff2d2d !important;
}

.nav-1 {
	margin-bottom: 66px !important;
}

.nav-text {
	opacity: 0.7;
	color: #000000;
	font-family: "Open Sans";
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.22px;
}	

.img {
	margin: 10px;
}

.header-3 {
	opacity: 0.8;
	color: #000000;
	font-family: "Open Sans";
	font-size: 42px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.38px;
}

.pharagraph-3 {
	opacity: 0.7;
	color: #000000;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}

.header-4 {
	opacity: 0.8;
	color: #000000;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.28px;
}

.pharagraph-4 {
	opacity: 0.7;
	color: #000000;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}

.ul_contact-us {
	display: flex;
	list-style: none;
	padding-left: 0;
	margin-top: 45px;
}

.ul-li {
	margin-right: 30px !important;
	opacity: 0.8;
	color: #000000;
	font-family: "Open Sans";
	font-size: 18px;
	font-style: italic;
	line-height: 24px;
	letter-spacing: 0.9px;
	transition: .5s linear;
}

.ul-li:hover {
	color: #ff2d2d;
	text-decoration: none;
	transition: .5s linear;
}

.img-1 {
	margin-right: 5px;
	margin-top: 60px;
}

.header-5 {
	opacity: 0.8;
	font-family: "Open Sans";
	font-size: 42px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 1.05px;
}

.pharagraph-5 {
	opacity: 0.8;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	margin-top: 30px;
}

input {
	height: 79px;
	margin-top: 62px !important;
	padding: 35px;
}

.btn-danger {
	width: 214px;
	height: 79px;
	background-color: #ff2d2d;
	margin-left: 20px;
	margin-top: -5px !important;
	padding-top: 26px !important;
} 

.content-3 {
	background-color: #f5f0dd;
	padding-top: 140px;
}

.content-4 {
	padding-top: 105px;
}

.header-6 {
	margin-bottom: 50px;
	opacity: 0.8;
	color: #000000;
	font-family: "Open Sans";
	font-size: 42px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.38px;
}

.pharagraph-6 {
	opacity: 0.7;
	color: #000000;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	margin-bottom: 50px;
}

.name {
	width: 100% !important;
	background-color: #e6e6e6 !important;
	border-radius: 10px !important;
	padding: 30px !important;
}

.email-2 {
	width: 100% !important;
	background-color: #e6e6e6 !important;
	border-radius: 10px !important;
	padding: 30px !important;
}

textarea {
	background-color: #e6e6e6;
	margin-top: 45px !important;
	border-radius: 10px !important;
	padding: 30px !important;
	width: 100%;
}

.button {
	width: 100%;
	margin: 0;
	margin-top: 45px !important;
}

.btn-text-3 {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.32px;
}

.content-5 {
	padding-right: 100px !important;
}

.content-6 {
	background-color: #2d2d2d;
	margin-top: 60px;
}

.contact-info-text {
	list-style: none;
}

.contact-info-text {
	opacity: 0.8;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}

.header3 {
	opacity: 0.8;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 700;
	line-height: 34.06px;
	text-transform: uppercase;
	letter-spacing: 0.32px;
	margin-left: 40px;
	margin-top: 145px;
}

.contact-info-a {
	color: white;
}

.contact-info-a:hover {
	color: #ff2d2d;
	text-decoration: none;
	transition: .5s linear;
}

.footer {
	background-color: #313030;
	padding: 40px;
}

.pharagraph-7 {
	color: #b8b8b8;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}

.ul-footer {
	list-style: none;
	display: flex;
}

.icon {
	color: #ff2d2d;
	width: 40px;
	height: 40px;
	border: solid;
	border-radius: 30px;
	border-color: white;
	background-color: #ebebeb;
	padding: 9px;
	transition: .5s linear !important;
}

.li-footer {
	margin-right: 5px !important;
}

.icon-1 {
	color: #ff2d2d;
	width: 40px;
	height: 40px;
	border: solid;
	border-radius: 30px;
	border-color: white;
	background-color: #ebebeb;
	padding: 9px;
	padding-left: 12px;
	transition: .5s linear !important;
}

.btn-danger:hover {
	background-color: white !important;
	color: #ff2d2d !important;
	border-color: #ff2d2d !important;
	transition: .5s linear;
}

.btn-light:hover {
	background-color: #ff2d2d !important;
	border-color: black !important;
	transition: .5s linear;
}

.hover-1 {
	text-decoration-color: white;
}

.hover-1:hover {
	text-decoration-color: #ff2d2d;
	transition: .5s linear;
}

.my-nav {
	text-decoration: underline !important;
	text-decoration-color: white !important;

}

.my-nav:hover {
	text-decoration-color: #ff2d2d !important;
	transition: .5s linear;
	opacity: 0.7 !important;
	color: #000000 !important;
}
.email-1 {
	width: 50%;
}
.email-1:focus {
	outline-color: #ff2d2d !important;
}

textarea:focus {
	outline-color: #ff2d2d !important;
}

.icon:hover {
	background-color: #ff2d2d !important;
	transition: .5s linear;
	border-color: #ff2d2d;
	color: white;
}

.icon-1:hover {
	background-color: #ff2d2d !important;
	transition: .5s linear;
	border-color: #ff2d2d;
	color: white;
}